/**********************
Home
***********************/
* {
  box-sizing: border-box;
}
body {
  font-family: 'PT Sans', cursive, sans-serif;
  margin: 0px;
  color: #0B1942;
}
a {
  display: block;
  cursor: pointer;
}
.nav-bar-wrapper {
  display: flex;
  flex-direction: row;
  height: 100px;
}
.logo {
  background: #F5005B;
  width:100px;
  padding: 9px;
}
.logo img{
  width: 100%;
  height: 85px;
}
.nav-bar {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  text-align: center;
}
.nav-bar a {
  color: white;
  text-decoration: none;
  text-align: center;
  line-height: 33px;
}
.home {
  background: #00A5BF;
  height: 34%;
}
.calendar {
  background: #00B7D3;
  height: 33%;
}
.join {
  background: #00D5E7;
  height: 33%;
}
.blank-space {
  background: #7CDFE6;
  color: white;
  text-align: center;
}
.content-header {
  background: #0B1942;
  color: white;
  padding-left: 20px;
  font-size: 24px;
  font-weight: lighter;
  margin: 10px 20px;
}
main h2 {
  font-weight: lighter;
  margin: 10px 20px;
  font-size: 24px;
}
main h1 {
  margin-left: 10px;
  font-weight: lighter;
  font-size: 26px;
}
.flex-basic {
  display: flex;
  flex-direction: column;
}
main p {
  margin: 10px 20px;
  font-size: 12px;
  font-weight: lighter;
}
.up-next-section {
  background: #0B1942;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.up-next-section h1 {
  color: white;
  font-weight: lighter;
  margin-left: 20px;
}
.up-next-feature {
  background: #E2E2E2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  padding-top: 20px;
}
.bigger-poster {
  width: 50%;
  height: 50%;
}
.poster {
  width: 100%;
  height: 80%;
}
hr {
  border-color: gray;
}
.up-next-feature div {
  padding-left: 8px;
  padding: 10px;
  font-size: smaller;
}
.movie-title-link {
  color: #00D5E7;
  padding-bottom: 10px;
  font-size: 7vw;
}
.smaller {
  font-size: 3.7vw;
  padding-bottom: 0px;
}
div ul {
  list-style: circle;
  padding-left: 25px;
}
.up-next-not-f {
  margin-top: -1px;
  display: flex;
  flex-wrap: wrap;
  background: #0B1942;
  padding: 30px 10px;
}
.up-next-grid-item {
  flex: 0 1 50%;
  background: #E2E2E2;
  padding: 10px;
  margin: -1px;
}
.up-next-grid-item span {
  font-size: 3.8vw;
}
.blank-space p {
  margin: 0px;
}
.footer-cr {
  height: 50px;
  line-height: 50px;
}
footer {
  height: 100px;
  line-height: 100px;
}

@media (min-width:545px)  {
  .nav-bar {
    flex-direction: row;
  }
  .nav-bar-wrapper {
    height: 100px;
  }
  .nav-bar a {
    line-height: 100px;
  }
  .home, .calendar, .join {
    width: 20%;
    height: 100%;
    font-size: 16px;
  }
  .blank-space {
    width: 40%;
  }
  .flex-wrap-row {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
  }
  main h2 {
    flex: 0 1 100%;
    margin-top: 15px;
  }
  .main-content-container {
    flex-basis: calc(33% - 10px);
    margin: 5px;
  }
  .up-next-not-f {
    flex-wrap: nowrap;
    max-width: 100vw;
    padding: 30px 5px 30px 10px;
  }
  .up-next-grid-item {
    flex: 0 1 25%;
  }
  .up-next-feature {
    justify-content: space-around;
  }
  .up-next-feature div {
    font-size: 1.5em;
  }
  .smaller, .up-next-grid-item span {
    font-size: 2.1vh;
  }
  footer {
    display: flex;
    flex-direction: row;
  }
  #footer-nav-item {
    width: 33.4%;
  }
  .footer-cr {
    width: 100%;
    height: 100px;
    line-height: 100px;
  }
}
@media (min-width:769px) {
  .nav-bar {
    flex-direction: row;
  }
  .home, .calendar, .join, .blank-space{
    height: 100%;
  }
  .blank-space {
    width: 60%;
    height: 100%;
  }
  .home, .calendar, .join {
    width: 13.5%;
  }
  .main-content-container p {
    font-size: 1em;
  }
  .content-header {
    font-size: 1.75em;
    padding: 5px 10px;
  }
  main h2 {
    font-size: 1.75em;
    padding-left: 10px;
  }
  .up-next-wrapper {
    display: flex;
  }
  .up-next-section {
    width: 50%;
  }
  .up-next-not-f {
    width: 50%;
    flex-wrap: wrap;
    padding-top: 117px;
    margin-top: 0px;
  }
  .up-next-feature {
    height: 40%;
  }
  .bigger-poster {
    width: 60%;
    height: 100%;
  }
  .movie-title-link {
    font-size: 3vh;
  }
  .up-next-feature div {
    font-size: .75em;
  }
  .up-next-grid-item{
    flex: 0 1 50%;
    font-size: .5em;
  }
  .smaller {
    font-size: 1.75em;
  }
  .footer-nav-item {
    width: 150%;
  }
}
/**********************
About
***********************/
body {
  font-size: 12px;
}
.padding-10 {
  padding-left: 10px;
}

.checkbox h4 {
  font-weight: lighter;
}
.flex-1 {
  display: flex;
  flex-direction: column;
}
.flex-1 img {
  width: 90%;
  margin: auto;
  border-radius: 50%;
}
textarea, input[type=text], input[type=email], input[type=password] {
  border: .5px solid lightgray;
  width: calc(100% - 20px);
  line-height: 1.5em;
}
input[type=file] {
  margin-left: 10px;
}
textarea {
  width: 80%;
  height: 75px;
  border: .5px solid black;
}
.checkbox {
  margin-left: 10px;
  margin-bottom: 20px;
}

.input-container {
  margin: 10px;
}
.join-button {
  margin: 10px;
}
.checkbox div {
  padding: 10px 0px;
}
.larger-input {
  display: flex;
  flex-direction: column;
}

.submit {
  background-color: #F6005B;
  height: 50px;
  width: 150px;;
  line-height: 50px;
  color: white;
  border-style: none;
  border-radius: 2px;
  font-size: 14px;
  margin: 25px 10px;
  font-weight: lighter;
}
@media (min-width:545px) {
  body {
    font-size: 16px;
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .flex-1 {
    width: 50%;
  }
  .checkbox {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
  }
  .checkbox h4 {
    flex-basis: 100%;
  }
  .checkbox div {
    width: 50%;
  }
  .larger-input {
    width: 100%;
  }
  input[type=email] {
    margin-bottom: 100px;
  }
  main h1 {
    font-size: 26px;
    margin-left: 10px;
    font-weight: lighter;
  }

}
@media (min-width:769px) {
  body {
    font-size: 20px;
  }
  main h1 {
    font-size: 36px;
  }
  .flex-2 {
    width: 34%;
  }
  .flex-3 {
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .input-container {
    width: 50%;
    margin: 0px;
  }
  input[type=email] {
    margin-bottom: 10px;
  }
  .checkbox div {
    width: 33%;
  }
  .larger-input {
    width: 100%;
    margin-left: 10px;
  }
  .submit {
    font-size: 18px;
  }
}
/***********************
calendar
***********************/
.blue-background {
  background-color: #0B1942;
  color: white;
  font-size: 20px;
  font-weight: bolder;
}
.blue-background h1 {
  padding-top: 20px;
}
.divTable{
	display: table;
	width: 100%;
  padding-bottom: 50px;
}
.divTableRow {
	display: table-row;
}
.divTableCell {
	border: 1px solid #0B1942;
	display: table-cell;
  background-color: white;
  position: relative;
  height: 55px;
}
.divTableBody {
	display: table-row-group;
}
.blank-date {
  background-color: #0B1942;
}
.date {
  background-color: #0B1942;
  color: white;
  height: 30px;
  width: 25px;
  position: relative;
  top: 0;
  left: 0;
  font-size: .5em;
  text-align: center;
  line-height: 30px;
}
.pink-date {
  background-color: #F5005B;
}
@media (min-width:545px) {
  .divTableCell {
    height: 100px;
  }
  .blue-background h1 {
    font-size: 2em;
  }
}
@media (min-width:769px) {
  .divTableCell{
    height: 150px;
  }
  .date {
    height: 35px;
    width: 30px;
    font-size: .75em;
  }
}
